<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GroCart</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>
<body ng-app="grocartApp">
    <h1>GroCart App</h1>
    <div ng-controller="grocartCtrl as shoppingList">
        <form>
            <div class="form-group" style="width: 325px;">
                <label for="item-name">Item Name</label>
                <input type="text" class="form-control" ng-model="shoppingList.itemText" placeholder="Enter item name" id="item-name">
                <!-- <div class="input-group-append">
                    <button class="btn btn-primary" type="button" ng-click="shoppingList.addItem()">Add</button>
                </div> -->
            </div>
            <div class="form-group">
                <label for="item-category">Category</label>
                <select class="form-control" id="item-category">
                <option>Dairy</option>
                <option>Produce</option>
                <option>Meats</option>
                <option>Frozen</option>
                <option>Snacks</option>
                </select>
            </div>
            <div class="form-group">
                <label for="item-quantity">Quantity</label>
                <select class="form-control" id="item-quantity" ng-model="shoppingList.itemQuantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </div>
        <button class="btn btn-primary" type="button" ng-click="shoppingList.addItem()">Add</button>
        <ul class="shopping-list">
            <li ng-repeat="item in shoppingList.items">
                <input type="checkbox" ng-model="shoppingList.done" aria-label="Checkbox for shopping item">
                <span class="done-{{shoppingList.done}}">{{ item.text }} <span class="item-quantity">({{item.quantity}})</span></span>
            </li>
        </ul>
        <button class="btn btn-warning" type="button" ng-click="shoppingList.clear()">Clear List</button>
    </div>

    <script>
        //Define the 'grocartApp' module.
        var grocartApp = angular.module('grocartApp', []);

        //Define the 'grocartCtrl' controller on the 'grocartApp' module.
        grocartApp.controller('grocartCtrl', function($scope) {
            var shoppingList = this;
            shoppingList.items = [];

            shoppingList.addItem = function() {
                shoppingList.items.push({done:false, text:shoppingList.itemText, quantity:shoppingList.itemQuantity}); //adds item to list, checkbox to unchecked
                shoppingList.itemText = ''; //resets item input to empty
            }

            shoppingList.clear = function() {
                shoppingList.items = [];
            }
        });
    </script>
</body>
</html>